# configs/pvnet_linemod_driller_less_offset.yaml
defaults:
  - default

# --- 路径设置 ---
run:
  log_dir: "./logs/pvnet_linemod_driller_less_crop128_aug"
  checkpoint_dir: "./checkpoints/pvnet_linemod_driller_less_crop128_aug"

# --- 数据集 ---
dataset:
  data_root: "/home/xyh/PycharmProjects/6DPose/data/linemod_pvnet"
  train_data_dir: "/home/xyh/PycharmProjects/6DPose/data/linemod_pvnet/driller_less_crop128"
  val_data_dir: "/home/xyh/PycharmProjects/6DPose/data/linemod_pvnet/driller_test_crop128"

  num_workers: 8
  pin_memory: true

  loader:
    batch_size: 32      # [优化] Crop 后图像变小(128x128)，Batch Size 可以开大，BN 更稳
    shuffle: true
    drop_last: true

# --- 变换 (关键) ---
transforms:
  use_offset: False       # [核心] 开启 Offset 回归
  input_size_hw: [128, 128] # [核心] 配合 RandomCropResize 的输出尺寸

  # Crop 参数 (代码中会读取)
  crop:
    enabled: False


  augmentation:
    degrees: 10      # Crop 后可以做全角度旋转增强
    scale_range: [0.9, 1.1]
    flip_p: 0

  color_jitter:
    brightness: 0.4
    contrast: 0.2
    saturation: 0.2

  mean: [0.485, 0.456, 0.406]
  std: [0.229, 0.224, 0.225]

# --- 模型 ---
model:
  name: "PVNet"
  num_keypoints: 9
  ver_dim: 18
  seg_dim: 2

  vertex_scale: 100.0    # [核心] 配合 Offset 模式，将像素值缩放到 ~1.0
  obj_id: 8

  ransac_voting:
    vote_num: 512        # 128x128 图比较小，256-512 个投票点足够
    inlier_thresh: 2   # 评估时阈值，Offset 模式下 3.0-5.0 比较合适
    max_trials: 100

# --- 损失函数 ---
loss:
  seg_loss_type: "focal"
  seg_focal_gamma: 2.0
  seg_focal_alpha: 0.75

  seg_weight: 10.0       # 平衡 Focal Loss 的小数值
  vote_weight: 1.0       # 代码已去除归一化，这里 1.0 刚好

  vote_smooth_l1_beta: 1.0
  skip_vote_if_no_fg: true

# --- 优化器 ---
optimizer:
  type: "Adam"
  lr: 1.0e-3             # 初始 LR
  weight_decay: 1.0e-4   # [核心] 防止过拟合

# --- 调度器 ---
scheduler:
  type: "MultiStepLR"
  milestones: [80, 100, 120] # 延长训练时间
  gamma: 0.1

# --- 训练 ---
train:
  max_epochs: 140        # 小图训练快，多跑几轮保证收敛
  use_amp: true
  log_interval: 50
  grad_clip_norm: 5.0    # 保护梯度

# --- 评估 ---
pnp:
  reproj_error_thresh: 5.0